[Service]
Restart=always
RestartSec=1
User=ydb
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ydbd
SyslogFacility=daemon
SyslogLevel=err
Environment=LD_LIBRARY_PATH={{ lib_path }}
ExecStart={{ ydb_dir }}/release/{{ ydb_version }}/bin/ydbd server \
    --yaml-config  {{ cfg_path }}/config.yaml \
    --grpc-port {{ grpc_port }} \
    --ic-port {{ ic_port }}  \
    --mon-port {{ mon_port }}  \
    --tenant /{{ ydb_domain }}/{{ ydb_dbname }} \