actor_system_config:
  executor:
  - {name: System, spin_threshold: '10', threads: 2, max_threads: 11, type: BASIC}
  - {name: User, spin_threshold: '1', threads: 7, max_threads: 12, type: BASIC}
  - {name: Batch, spin_threshold: '1', threads: 2, max_threads: 4, type: BASIC}
  - {name: IO, threads: 1, type: IO}
  - {name: IC, spin_threshold: '10', threads: 3, max_threads: 11, time_per_mailbox_micro_secs: 100, max_avg_ping_deviation: 500, type: BASIC}
  scheduler: {progress_threshold: '10000', resolution: '64', spin_threshold: '0'}
  sys_executor: 0
  user_executor: 1
  batch_executor: 2
  io_executor: 3
  service_executor:
  - {executor_id: 4, service_name: Interconnect}