blob_storage_config:
  service_set:
    groups:
    - erasure_species: none
      rings:
      - fail_domains:
 
     
        - vdisk_locations:
          - node_id: static-node-1.ru-central1.internal
            path: /dev/vdb
            pdisk_category: SSD
     
        - vdisk_locations:
          - node_id: static-node-2.ru-central1.internal
            path: /dev/vdb
            pdisk_category: SSD
     
        - vdisk_locations:
          - node_id: static-node-3.ru-central1.internal
            path: /dev/vdb
            pdisk_category: SSD
             
         