hosts:
- host: static-node-1.ru-central1.internal
  port: 19001
  host_config_id: 1
  walle_location:
    body: '1'
    data_center: '1'
    rack: '1'
- host: static-node-2.ru-central1.internal
  port: 19002
  host_config_id: 1
  walle_location:
    body: '2'
    data_center: '1'
    rack: '1'
- host: static-node-3.ru-central1.internal
  port: 19003
  host_config_id: 1
  walle_location:
    body: '3'
    data_center: '1'
    rack: '1'
- host: dynamic-node-1.ru-central1.internal
  port: 19101
  host_config_id: 2
  walle_location:
    body: '4'
    data_center: '1'
    rack: '1'
- host: dynamic-node-2.ru-central1.internal
  port: 19102
  host_config_id: 2
  walle_location:
    body: '5'
    data_center: '1'
    rack: '1'
- host: dynamic-node-3.ru-central1.internal
  port: 19103
  host_config_id: 2
  walle_location:
    body: '6'
    data_center: '1'
    rack: '1'
