domains_config:
  domain:
  - name: {{ ydb_domain }}
    storage_pool_types:
    - kind: ssd
      pool_config:
        box_id: 1
        erasure_species: none
        kind: ssd
        pdisk_filter:
        - property:
          - type: SSD
        vdisk_kind: Default
  state_storage:
  - ring:
      node: [{% for i in range(groups['all'] | length) %}{{ i + 1 }}{% if not loop.last %}, {% endif %}{% endfor %}]
      nto_select: {{ groups['all'] | length }}
    ssid: 1