hosts:
{% for host in groups['all'] %}
- host: {{ host }}
  port: {{ hostvars[host]['ic_port'] }}
{%if host in groups['ydb-static-node'] %}
  host_config_id: 1
{% endif %}
{%if host in groups['ydb-dyn-node'] %}
  host_config_id: 2
{% endif %}
  walle_location:
    body: '{{ 0 + loop.index }}'
    data_center: '1'
    rack: '1'
{% endfor %}