table_service_config:
  sql_version: 1
  enable_kqp_scan_query_source_read: true
  enable_kqp_data_query_source_read: true
  enable_kqp_data_query_stream_lookup: true
  enable_kqp_scan_query_stream_lookup: true